<?php echo '<?xml version="1.0" encoding="UTF-8"?>' ?>
<urlset
	xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"
	xmlns:image="http://www.google.com/schemas/sitemap-image/1.1"
	xmlns:xhtml="http://www.w3.org/1999/xhtml"
	 >

	 {% for page in pages %}
		<url>
			<loc>{{ request.build_absolute_uri }}{{ page.uri }}</loc>
			<lastmod>{{ page.updated_at|date:'c' }}</lastmod>
			<changefreq>{{ page.changefreq }}</changefreq>
			<priority>{{ page.get_priority }}</priority>

			{% for image in page.images %}
				<image:image>
					<image:loc>{{ request.build_absolute_uri }}{{image.uri}}</image:loc>
					<image:caption>{{ image.caption }}</image:caption>
					<image:title>{{ image.title }}</image:title>
				</image:image>
			{% endfor %}
		</url>
	{% endfor %}
</urlset>