<?xml version="1.0" encoding="UTF-8"?>
<urlset
	xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"
	xmlns:image="http://www.google.com/schemas/sitemap-image/1.1"
	xmlns:xhtml="http://www.w3.org/1999/xhtml"
	 >

	 {% for record in records %}
		<url>
			<loc>http://{{ request.get_host }}/{{ language }}/records/{{ record.pk }}/{{ record.title_slug }}</loc>
			<lastmod>{{ blog.updated_at|date:'c' }}</lastmod>
			<changefreq>weekly</changefreq>
			<priority>8</priority>

			{% for other_language in languages %}
				<xhtml:link rel="alternate" hreflang="{{ other_language.0 }}" href="http://{{ request.get_host }}/{{ other_language.0 }}/records/{{ record.pk }}/{{ record.title_slug }}" />
			{% endfor %}

			{% if record.thumb %}
				<image:image>
					<image:loc>http://ericscuccimarra.com/{{ record.thumb }}</image:loc>
					<image:caption>{{ blog.title }}</image:caption>
					<image:title>{{ blog.title }}</image:title>
				</image:image>
			{% endif %}
		</url>
	{% endfor %}
</urlset>